body {
  font-family: Arial, sans-serif;
}

h2 {
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

.form-group {
  margin-bottom: 10px;
}

/* Стили для блока количества владельцев */
.form-group#owners-group {
  display: none;
}

/* Стили для блока количества владельцев при выборе опции "подержанный" */
#used:checked ~ .form-group#owners-group {
  display: block;
}
